.offcanvas-title {
  padding: 0.5em 0 0;
  margin-bottom: 0;
  line-height: 1.65;
  font-size: 9px;
  color: darkkhaki;
}


@media screen and (max-width: 575px) {
  .sub-title {
    font-size: 0.85rem;
  }
}


.instagram-media {
  width: 450px;
}

@media screen and (max-width: 575px) {
  .instagram-media {
    width: 70vw
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .instagram-media {
    width: 380px;
  }
}
.offcanvas-header {
  background-color: ivory;
}

.offcanvas-body {
  border-top: 2px solid #fdc4d2;
  background-color: ivory;
}

.nav-item {
  width: 364px;
  height: 57px;
  display: flex;
  padding-left: 25px;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border-radius: 15px 0px 0px 0px
}

.nav-item:hover {
  background-color: #FFE4E1;
  font-weight: 700;
}

.nav-item > h3 {
  font-size: 10px;
  width: 140px;
  display: inline-block;
  padding-top: 10px;
}

.top_content_class .midle-img {
  width: 100%;
  min-height: 80vh;
}

.top_content_class .midle-img_phone {
  width: 100vw;
  height: 90vh;
}


.logo_class {
  height: 45px
}

.anim-center_logo {
  opacity: 0; /* 初期状態を透明に設定 */
  position: absolute;
  width: 300px !important;
  height: 300px !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.anim-center_logo.fadein.is-animated {
  animation: fadeIn 5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top-img-Class {
    animation: hogehoge 16s infinite;
}


@keyframes hogehoge {
	10% {
    filter: brightness(110%);
  }
	15% {
    filter: brightness(130%);
  }
  35% {
    filter: brightness(105%);
  }
	100% {
		filter: brightness(85%);;
  }
  }
