ul {
  list-style: none;
  padding-left: 0;
}

.shop-img > img {
  margin: 15px;
}


@media only screen and (min-width: 768px) {
  li.border_color {
    height: 255px;
    overflow: hidden;
    cursor: pointer;
  }

  #room01 > ul {
    display: flex;
  }
}

@media only screen and (max-width: 767.9px) {
  .shop-img > img {
    width: 95%;
  }
}



/* @media only screen and (max-width: 767.9px) {
  li#room01 {
    height: 168px;
    border-radius: 50%;
    overflow: hidden;
  }

  ul {
    display: grid;
    row-gap: 0px;
    column-gap: 15px;
    grid-template-columns: repeat(4,255px);
    margin-top: 40px;
    list-style: none;
  }
} */
