ul {
  padding-left: 0rem
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: deeppink;
  margin: 0.7rem;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

/* ボタンをホバーしたときのSVGのサイズ変更 */
.btn--orange:hover .svg-icon {
  width: 21px; /* ホバー時のSVGの幅 */
  height: 21px; /* ホバー時のSVGの高さ */
}

#line-button > img:hover {
  height: 40px;
  opacity: 0.5; /* 半透明度を指定（0.5は50%の透明度を意味します） */
}

h2#f--shopinfo {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #a0752a;
}

.shop_info li p {
    width: 65%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin: 5px;
}

@media screen and (min-width: 769px) {
.shop_info li p {
    margin: 10px;
}
}


.shop_info h5, .shop_info h3 {
    font-size: 16px;
    width: 35%;
    padding: 10px 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (min-width: 769px) {
.shop_info h5 {
    justify-content: center;
}
}

.shop_info li {
  display: flex;
  padding: 10px 0;
}

@media screen and (min-width: 769px) {
  .shop_info li {
      font-size: 14px;
  }
}

.logo_class {
  height: 45px
}

@media screen and (min-width: 769px) {
  .logo_class {
      padding: 0 28px;
  }
}

.my_bar_coler {
    background-color: #your_color; /* Replace with your desired background color */
}

.title_class {
  font-family: 'Playfair Display', serif;
  font-size: 33px;
  color: cadetblue;
  letter-spacing: 9.5px;
}

.sub-title {
  font-size: 1rem;
}


@media screen and (max-width: 575px) {
  .title_class {
    font-size: 30px;
  }
}

.offcanvas-title {
  padding: 0.5em 0 0;
  margin-bottom: 0;
  line-height: 1.65;
  font-size: 9px;
  color: darkkhaki;
}


@media screen and (max-width: 575px) {
  .sub-title {
    font-size: 0.85rem;
  }
}


.instagram-media {
  width: 450px;
}

@media screen and (max-width: 575px) {
  .instagram-media {
    width: 70vw
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .instagram-media {
    width: 380px;
  }
}
.offcanvas-header {
  background-color: ivory;
}

.offcanvas-body {
  border-top: 2px solid #fdc4d2;
  background-color: ivory;
}

.nav-item {
  width: 364px;
  height: 57px;
  display: flex;
  padding-left: 25px;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border-radius: 15px 0px 0px 0px
}

.nav-item:hover {
  background-color: #FFE4E1;
  font-weight: 700;
}

.nav-item > h3 {
  font-size: 10px;
  width: 140px;
  display: inline-block;
  padding-top: 10px;
}

.top_content_class .midle-img {
  width: 100%;
  min-height: 90vh;
}

.top_content_class .midle-img_phone {
  width: 100vw;
  height: 90vh;
}

.anim-center_logo {
  opacity: 0; /* 初期状態を透明に設定 */
  position: absolute;
  width: 18rem !important;
  height: 18rem !important;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.anim-center_logo.fadein.is-animated {
  animation: fadeIn 5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top-img-Class {
    animation: hogehoge 16s infinite;
}


@keyframes hogehoge {
	10% {
    filter: brightness(120%);
  }
	15% {
    filter: brightness(140%);
  }
  35% {
    filter: brightness(105%);
  }
	80% {
		filter: brightness(85%);;
  }
  100% {
		filter: brightness(100%);;
  }
  }
