.container {
  display: flow-root;
}

.price_list li {
  width: calc((100% / 2) - 1%);
  float: left;
  margin: 0 2% 2% 0;
}

@media screen and (max-width: 768px) {
  .price_list li {
    width: 100%;
  }

  ul.price_list {
    padding-left: 0rem !important;
  }
}

.li-right-class {
  margin-right: 0 !important;
}

.pl_title {
    width: 50%;
    text-align: center !important;
    padding-right: 0 !important;
}

.pl_text {
    width: 50%;
    text-align: center !important;
    padding-right: 0 !important;
}


.price_list p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid bisque;
}

.price_list h3 {
    background: rgba(255,255,255,0.15);
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
}

ul, ol, nav {
    list-style: none;
    overflow: hidden;
}

.price_list h3 {
    background-color: rgba(244, 164, 96, 0.5);
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
}

.shopBox > p {
    padding: 10px;
    color: #666; /* テキストの色を薄めのグレーに設定 */
    font-family: "Helvetica Neue", Arial, sans-serif; /* 高級感のあるフォントを指定 */
    font-size: 16px; /* テキストのサイズを設定（必要に応じて調整） */
    font-weight: 300; /* テキストの太さを薄くする */
    line-height: 1.5; /* 行の高さを設定 */
}

.subtitle {
  text-align: center;
  color: black !important;
}

.sopBox-text {
  font-size: small !important;
}
